#pdf-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

#canvas-wrapper {
    justify-content: center;
    display: flex;
}