.econsent-row-blue {
    background-color: #00345b;
}

.econsent-row-red {
    background-color: red;
}

.econsent-list {
    padding: 10px;
}

.econsent-list psk-layout {
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

.tp-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    height: 55px;
    padding: 0 30px;
}

.display-block {
    display: block !important;
}

.justify-buttons {
    justify-content: space-evenly;
}