<webc-container
  class="common-datatable dt-4-col"
  controller="template-controllers/TableTemplateController"
  data-view-model="@"
>
  <webc-datatable datasource="@dataSource">
    <div slot="header">Participant ID</div>
    <div slot="header">Status</div>
    <div slot="header">Enrolled Date</div>
    <div slot="header">Options</div>

    <div class="cell">{{@number}}</div>
    <div class="cell">{{@status}}</div>
    <div class="cell">{{@enrolledDate}}</div>
    <div class="cell">
      <button class="btn btn-bare btn-link" data-tag="view-participant-status">Status</button>
      |
      <button class="btn btn-bare btn-link" data-tag="view-participant-consents">Consents</button>
      |
      <button
        class="btn btn-bare btn-link"
        style="pointer-events: none; cursor: default; color: rgba(69, 81, 88, 0.36)"
        data-tag="view-participant-devices"
      >
        Devices
      </button>
    </div>

    <div slot="no-data">There are no items to display</div>
  </webc-datatable>
</webc-container>
