label.option,
main .row-wrapper label {
    padding: 0 0.5rem 0 0;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

label.option:last-child {
    border: none;
}

.middle-text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

h4.title {
    font-size: 2rem;
    padding: 1rem 0;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    color: var(--primary);
    width: 100%;
}

h5.title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: var(--secondary);
}

h5.generic-title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-top: 0.25rem;
    color: var(--secondary);
}

h5.subtitle {
    font-size: 1.25rem;
    text-align: left;
    padding: 0.25rem 0.5rem;
    color: var(--primary);
}

h5.checkbox-answers {
    font-size: 1rem;
    text-align: center;
    color: var(--secondary);
}

.no-data {
    color: var(--secondary);
    font-size: 1.25rem;
    font-style: italic;
    padding: 2rem 1rem 1rem;
    text-align: center;
    width: 100%;
}

.link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgba(47, 128, 237, 1);
}

.link:focus,
.link:hover,
.link:active {
    cursor: pointer;
    text-decoration: underline;
}

main .row-wrapper label:first-child {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

main .row-wrapper.grid-equal label:first-child {
    text-align: center;
    max-width: 100%;
}

label[data-tag] {
    padding: 0.125rem 1.75rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-size: 1rem;
    color: var(--primary);
    background: transparent;
    cursor: pointer;
}

label[data-tag]:hover,
label[data-tag]:active,
label[data-tag]:focus {
    color: #000000;
    border-color: var(--secondary);
}

.color-red {
    color: red !important;
    font-weight: bold;
}