.top {
    display: block;
    width: 100%;
}

.line {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tp-title {
    font-size: 20px;
    color: #00345b;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 20px;
}

.inverted-colors {
    background-color: white !important;
    color: #008798 !important;
    border: 1px solid #008798 !important;
}

.tp-button {
    background-color: #008798;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 16px;
}

.bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.wide-button {
    width: 40%;
}