.common-datatable .webc-datatable--container {
    display: grid;
    align-content: start;
    min-height: 325px;
}
.common-datatable .webc-datatable--container > * {
    padding: 0.5rem;
    border-bottom: 1px solid #CDCDCD;
}
.common-datatable .webc-datatable--container > .webc-datatable--header {
    font-weight: bold;
    border-color: #2F2F2F;
    margin-bottom: 0.5rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0.5rem 0 0.5rem 0;
}
.common-datatable .webc-datatable--container webc-spinner {
    align-self: center;
}

.common-datatable .controls {
    display: flex;
    justify-content: center;
}
.common-datatable .controls > button {
    margin: 1rem 0.5rem 0 0;
    border: 1px solid transparent;
    transition: border-color 200ms ease-in-out;
}

.common-datatable webc-datatable div.cell {
    background: #cfe8eb;
    display: flex;
    align-items: center;
}

.dt-2-col webc-datatable div.cell:nth-child(4n+1),
.dt-2-col webc-datatable div.cell:nth-child(4n+2),

.dt-3-col webc-datatable div.cell:nth-child(6n+1),
.dt-3-col webc-datatable div.cell:nth-child(6n+2),
.dt-3-col webc-datatable div.cell:nth-child(6n+3),

.dt-4-col webc-datatable div.cell:nth-child(8n+1),
.dt-4-col webc-datatable div.cell:nth-child(8n+2),
.dt-4-col webc-datatable div.cell:nth-child(8n+3),
.dt-4-col webc-datatable div.cell:nth-child(8n+4),

.dt-5-col webc-datatable div.cell:nth-child(10n+1),
.dt-5-col webc-datatable div.cell:nth-child(10n+2),
.dt-5-col webc-datatable div.cell:nth-child(10n+3),
.dt-5-col webc-datatable div.cell:nth-child(10n+4),
.dt-5-col webc-datatable div.cell:nth-child(10n+5),

.dt-6-col webc-datatable div.cell:nth-child(12n+1),
.dt-6-col webc-datatable div.cell:nth-child(12n+2),
.dt-6-col webc-datatable div.cell:nth-child(12n+3),
.dt-6-col webc-datatable div.cell:nth-child(12n+4),
.dt-6-col webc-datatable div.cell:nth-child(12n+5),
.dt-6-col webc-datatable div.cell:nth-child(12n+6),

.dt-7-col webc-datatable div.cell:nth-child(14n+1),
.dt-7-col webc-datatable div.cell:nth-child(14n+2),
.dt-7-col webc-datatable div.cell:nth-child(14n+3),
.dt-7-col webc-datatable div.cell:nth-child(14n+4),
.dt-7-col webc-datatable div.cell:nth-child(14n+5),
.dt-7-col webc-datatable div.cell:nth-child(14n+6),
.dt-7-col webc-datatable div.cell:nth-child(14n+7),

.dt-8-col webc-datatable div.cell:nth-child(16n+1),
.dt-8-col webc-datatable div.cell:nth-child(16n+2),
.dt-8-col webc-datatable div.cell:nth-child(16n+3),
.dt-8-col webc-datatable div.cell:nth-child(16n+4),
.dt-8-col webc-datatable div.cell:nth-child(16n+5),
.dt-8-col webc-datatable div.cell:nth-child(16n+6),
.dt-8-col webc-datatable div.cell:nth-child(16n+7),
.dt-8-col webc-datatable div.cell:nth-child(16n+8),

.dt-9-col webc-datatable div.cell:nth-child(18n+1),
.dt-9-col webc-datatable div.cell:nth-child(18n+2),
.dt-9-col webc-datatable div.cell:nth-child(18n+3),
.dt-9-col webc-datatable div.cell:nth-child(18n+4),
.dt-9-col webc-datatable div.cell:nth-child(18n+5),
.dt-9-col webc-datatable div.cell:nth-child(18n+6),
.dt-9-col webc-datatable div.cell:nth-child(18n+7),
.dt-9-col webc-datatable div.cell:nth-child(18n+8),
.dt-9-col webc-datatable div.cell:nth-child(18n+9),

.dt-10-col webc-datatable div.cell:nth-child(20n+1),
.dt-10-col webc-datatable div.cell:nth-child(20n+2),
.dt-10-col webc-datatable div.cell:nth-child(20n+3),
.dt-10-col webc-datatable div.cell:nth-child(20n+4),
.dt-10-col webc-datatable div.cell:nth-child(20n+5),
.dt-10-col webc-datatable div.cell:nth-child(20n+6),
.dt-10-col webc-datatable div.cell:nth-child(20n+7),
.dt-10-col webc-datatable div.cell:nth-child(20n+8),
.dt-10-col webc-datatable div.cell:nth-child(20n+9),
.dt-10-col webc-datatable div.cell:nth-child(20n+10)

{
    background: #c2ced8;
    margin:0.25rem 0;
}

.dc-datatable .webc-datatable--container{
    grid-template-columns: auto auto auto auto;
}

.notes-datatable .webc-datatable--container{
    grid-template-columns: 100px 3fr 5fr;
    min-height: 60px;
}

.feedback-datatable .webc-datatable--container{
    grid-template-columns: 4fr  1fr 100px;
}

.results-datatable .webc-datatable--container{
    grid-template-columns: repeat(5, 1fr);
}

.dynamic-consents-datatable .webc-datatable--container{
    grid-template-columns: repeat(3, 1fr);
}

.questions-datatable .webc-datatable--container{
    grid-template-columns: 5fr 1fr 1fr;
}

.view-graphs-datatable .webc-datatable--container {
    grid-template-columns: 5fr 1fr;
}

.answers-datatable .webc-datatable--container{
    grid-template-columns: repeat(4, 1fr);
}

.devices-datatable .webc-datatable--container{
    grid-template-columns: repeat(8, 1fr);
}

.data-datatable .webc-datatable--container{
    grid-template-columns: repeat(5, 1fr);
}

.cs-datatable .webc-datatable--container {
    display: grid;
    grid-template-columns: 3fr 2fr 1.5fr 400px;
    align-content: start;
    min-height: 325px;
}

.webc-datatable--container label[data-tag]{
    padding: 0.125rem 0.75rem;
}

.trial-management .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(7, 2fr) 3fr;
    align-content: start;
    min-height: 325px;
}

.trial-management.common-datatable .webc-datatable--container > .webc-datatable--header {
    border-bottom: 1px solid #CDCDCD;
    padding: 0.5rem;
}

.trial-management.common-datatable webc-datatable div.cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.trial-participant .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(5, 2fr) 3fr;
    align-content: start;
    min-height: 325px;
}

.econsents .webc-datatable--container {
    display: grid;
    grid-template-columns: 3fr repeat(5, 1.5fr) 3fr;
    align-content: start;
    min-height: 325px;
}

.trial-participant-details .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-content: start;
    min-height: 325px;
}

.consents-table .webc-datatable--container {
    display: grid;
    grid-template-columns: 3fr repeat(3, 2fr) 3fr;
    align-content: start;
    min-height: 325px;
}

.econsents-versions-table .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(4, 2fr) 3fr;
    align-content: start;
    min-height: 325px;
}

.device-assignation-table .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(4, 1.25fr) 2.5fr 2.25fr;
    align-content: start;
    min-height: 325px;
}
.health-data-table .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(2, 1.50fr) 4.5fr 2.50fr;
    align-content: start;
    min-height: 325px;
}

.visits-procedures .webc-datatable--container {
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(4, 1fr) repeat(3, 3fr) 4fr;
    align-content: center;
    min-height: 325px;
}

.partial-confirmed {
    color: white;
}

.notifications-datatable .webc-datatable--container{
    grid-template-columns: 4fr 1fr 1fr;
}

.cell[data-empty] {
    height: 3rem;
    pointer-events: none;
    opacity:0;
    border:none;
}